body {
    font-family: Arial, Helvetica, sans-serif;
}
.imageDivStyle {
    width: 600px;
    border: 1px gray solid;
    padding: 5px;
    margin-left: 120px;
    margin-bottom: 20px;
}
#productsDiv{
    display: flex;
    flex-wrap: wrap;
}


.img {
    height:  80px;
    width: 100px;
    border: 1px black dashed;
    margin: 5px;
}

label {
    display: inline-block;
    width: 120px;
}

input, textarea, select {
    width: 600px;
    border: gray 1px solid;
    resize: none;
    padding: 8px;
}

select {
    width: 610px;
}

textarea {
    height: 100px;
}

.pointers {
    border: 1px blueviolet dashed;
}

#pdlab {
    height: 100px;
    vertical-align: top;
}

#addprodbtn, #selimgsbtn {
    float: right;
    margin-left: 10px;
}

#controldiv {
    width: 740px;
}
#loadlab {
    width: 200px;
}

.productCard {
    border: 1px whitesmoke solid;
    height: 510px;
    width: 290px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transition: border-color .3s ;
    padding: 10px;
}

.productCard:hover {
    border-color: darkblue;
}

.thumb {
    width: 220px;
    height: 160px;
    cursor: pointer;
    margin-bottom: 15px;
}

.detbtn {
    color: whitesmoke;
    background-color: navy;
    width: 90%;
    margin-bottom: 15px;
}

.title {
    color: darkblue;
    font-weight: bold;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    text-align: center;
}

#contentDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgDiv, #detailsDiv {
    height: 500px
}

#bigimg {
    width: 550px;
    min-height: 300px;
    max-height: 400px;
}

.smimg{
    height: 80px;
    width: 100px;
    border: 1px gray solid;
}

#smImgDiv {
    display: flex;
    width: 550px;
    margin-top: 10px;
    flex-wrap: wrap;
    margin-left: 6px;
}

.breadcrumb {
    background-color: transparent;
    border: 1px lightgray solid;
    font-size: 12px;
    color: whitesmoke;
    margin-top: 10px;
}

.breadcrumb-item, .breadcrumb-item a {
    color: darkslategray !important;
    font-weight: bold;
}

.active{
    color: black;
    font-weight: normal;
}

#detailsDiv {
    width: 300px;
}
#title, #description{
    word-wrap: break-word;
}

.points {
    align-self: flex-start;
    word-wrap: break-word;
}